# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# my extern
##############################################################################
*.suo
*.user
*.tlog
*.log
*.idb
*.pdb
Debug
*.ilk
*.exp
*.VC.db
ACE_wrappers/apps/gperf/tests/*.cpp
ACE_wrappers/apps/gperf/tests/iout2_gen/idl.cpp
